.activityItemContainer {
    display: flex;
    align-items: center; /* Align items vertically */
}

.trashIcon {
    margin-left: 8px; /* Adjust margin as needed */
}

.container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoButtons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.buttonDivider {
    margin: 0 10px;
}

/* ActivityList */
.activityList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activityAddButton {
    margin-top: 1rem;
}

/* ActivityItem */
.activityItem {
    width: 100%;
    border-radius: 10px !important;
    border: 2px solid black;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0 15px 10px 15px;
}

.activityItem:first-child {
    margin: 0;
}

.activityItemTextArea {
    width: 100%;
    border: none;
    resize: none;
    overflow-y: hidden;
    display: block;
    outline: none;
}

.activityItemTextArea:disabled {
    background-color: var(--background);
    color: var(--black-primary);
}

/* ActivityTimes */
.activityTimesList {
    padding-left: 0;
    list-style-type:none;
    width: 100%;
    align-content: center;
    margin-bottom: 0;
}
.activityTimesItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto 1rem auto;
    max-width: 500px;
    gap: 0.5rem;
}

.activityTimeText {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 0;
}

.activityTimeLine {
    margin: 0 10px;
}

/* ActivityCategories */
.categoryList {
    list-style-type:none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}

.categoryList li {
    width: 100%;
}

.categoryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryText,
.categoryInput {
    margin-left: 1rem;
    margin-right: 1rem;
}

.categoryText {
    text-align: left;
    word-wrap: break-word;
    width: 70%;
    margin-bottom: 0;
    align-self: center;
}

.categoryInput {
    width: 70%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-width: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0;
}

.categoryListItem {
    display: flex;
    justify-content: start;
}