
.tabs > li {
    flex: 1;
}

.tabs > li .active {
    background-color: var(--red-primary);
}

.tabs button {
    width: 100%;
    height: 38px;
    background-color: white;
    white-space: nowrap;
}

.tabs {
	border-width: medium;
	overflow-x: auto;
	white-space: nowrap;
	margin-top: 1rem;
  }
  
  .nav {
	flex-wrap: nowrap!important;
  }
  
  .tab {
	  background-color: white;
	height: 35px;  
  }
  
  :global(.nav-tabs){
	border-bottom: 1px solid var(--black-primary);
  }
  
  
  :global(.nav-link.active){
	background-color: var(--red-primary) !important;
	color: white !important;
  }
  
  :global(.nav-item) {
	border: 1px solid black !important;
	border-radius:  5px 5px 0px 0px !important;
	
  }
  
  :global(.nav-link){
	padding: 0 1rem 0 1rem !important;
	border: 0 !important;
	color: var(--black-primary);
	
  }
  
  button:focus{
	outline: none;
  }
  
  .searchBar {
	margin-top: 20px;
	margin-bottom: 10px; 
  }
  
  .scrollComponentOuterDiv{
	  margin-top: 10px;
  }
  
  .listItems{
	  display: flex;
	  height: 3rem;
	  align-items: center;
	  text-align: center;
	  padding-left: 1rem;
	  border-bottom: 1px solid black;
	  cursor: pointer;
	  transition: background-color 0.3s;
  }
  
  .innerListDiv{
	  margin: auto 5% 5% 5%;
  }
  
  .listTitleText{
	  color: #666666;
	  margin: 5% auto auto 5%;
	  text-decoration: underline;
  }