.acitvity-info-activity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-info-btns {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.acitvitiy-info-button-divider {
    margin: 0 10px;
}
#activity-time-add-button {
    padding: 0;
}

.activity-time-add-activity-button {
    margin-top: 1rem;
}