/* ActivityListComponent */
.container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container li {
	position: relative;
	width: 100%;
}

/* ActivityItem */
.itemContainer {
	display: flex;
	padding: 1rem;
	height: fit-content;
	min-height: 4rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background);
}

.pink {
	background-color: var(--red-secondary);
}

.text {
	text-align: start;
	margin: 0 0.5rem 0 1rem;
	word-break: break-all;
	white-space: normal;
}

.dragAndText {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 1rem;
	width: calc(100% - 6rem);
}

.minutesAndEdit {
	display: flex;
	align-items: center;
	gap: 1.5em;
	width: 6rem;
}

/* ActivityList */
.legend {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding-left: 0.2rem;
}
.listContainer {
	padding: 0.5rem 0 1rem 0;
}
