.activity-time-list {
    padding-left: 0rem;
    list-style-type:none;
    width: 10rem;
    align-content: center;

}
.activity-time-list-item {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.activity-time-text {
    display: flex;
    width: 4rem;

}
.activity-time-text-item {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: -0.15rem;
    margin-right: 1rem;
    margin-left: 0;
    margin-bottom: 0;
}