.activity-time-list {
    padding-left: 0;
    list-style-type:none;
    width: 100%;
    align-content: center;
    margin-bottom: 0;
}
.activity-time-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto 0 auto;
    max-width: 500px;
}

.activity-time-list-item:first-child {
    margin: 0;
}

.activity-time-line-container {
    margin: 0 10px;
}

.activity-time-text-item {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .activity-time-list-item {
        margin: 0.5rem 1.5rem 0 1.5rem;
    }
}