.yoteiBeltButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.6rem;
    transition: all 0.2s ease-in-out;
    user-select: none;
    border: 2px solid;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}



.yoteiBeltButtonNormal {
    background-color: var(--red-primary);
}

.yoteiBeltButton:hover {
    background-color: var(--button-hover);
}

.yoteiBeltButton:active {
    background-color: var(--button-press);
}

.yoteiBeltButton:disabled {
	background-color: var(--body);
	border: none;

}

.yoteiBeltButton > * {
    padding: 0;
    margin: 0;
    min-height: 1rem;
}

.yoteiBeltButton img {
    filter: brightness(0) invert(1);
}


.toggled {
    background-color: var(--button-hover);
}

.yoteiBeltColor {
  background-color: blueviolet;
}
