.buttonContainer {
    position: fixed;
    bottom: 0;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
	left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    padding: 10px; /* Adjust padding as necessary */

}

.FilterAndSortContainer {
	position: relative;
	margin-top: 4%;
}

.activitiesTextContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
	margin-top: 3%;
	padding: 0 0 5px;
}


.activitiesTextContainer h5{
	font-size: 20px;

}

.activitiesContainer h5{
	font-size: 20px;
	left: 40px;
}