.statisticsButtonContainer img {
	height: 2.5em;
}

.statisticsButtonContainer button {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background: none;
}

.statisticsPopupContainer{
	display: flex;
	flex-direction: column;
}