.node {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  text-wrap: wrap;
  width: 100px;
  border: 0px solid var(--black-primary);
  border-radius: 5%;
}

.node.selected {
  border: 2px solid red;
}