.WorkoutToPrintContainer {
    margin: 1rem 3rem 1rem 3rem;
}

.WorkoutToPrintColumnItem {
    width: 90%;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.WorkoutToPrintRowItem {
    display: flex;
}

.WorkoutToPrintProperties {
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.categoryTitle {
    font-weight: bold;
    background-color: white;
    padding: 0 5px 0 5px;
    position: absolute;
    top: 0;
    left: 7px;
    transform: translateY(-50%);
}

.details :global(p) {
    margin-bottom: 0 !important;
    line-height: normal !important;
    font-size: 25px;
}
