.starOverlay {
    position: absolute;
    top: 0;
    left: 0;
}

.star,
.starOverlay
.starContainer {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.starContainer {
    position: relative;   
}

.starHidden {
    display: none;
}
