.btn-logout-container {
    margin-top: 30px;
}

.new-password-container {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.change-password-form {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.change-username-form {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.new-username-container {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
}