/* The complete component */
.beltbox {
	justify-content: center;
    outline-style: solid;
    outline-width: 2px;
    border-radius: 4px;
}


/* Each belt */
.belt {
    float: left;
}


.belt-error {
	color: black;
	background-color: white;
	float: left;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}



