.filterplan-datePickerContainer {
    display: flex;
    flex-direction: column;
}

.filterplan-datePickerContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 5px;
    height: 50%;
}

.filterplan-titleDatePickerContain {
    display: flex;
    align-items: baseline;
    margin: 10px;
}

.filterplan-datePicker {
    display: flex;
    position: absolute;
    left: 20%;
    gap: 25px;
}

.filterplan-checkBoxContainer {
    display: flex;
    position: relative;
    align-items: baseline;
    gap: 65%;
}

.filterplan-checkboxTitle {
    display: flex;
}

.filterplan-checkBox {
    align-items: baseline;
    position: relative;
    top: 50%;
}


.filterplan-filterbox {
    display: flex;
}