/**
* css for the PlanList component used on PlanIndex
* @author Group 4(calzone) and Group 3(Hawaii)
*/

@media  (max-width: 540px) {
    .planContainer{
        width: auto;
    }
    .dynamic-width {
        width: auto;
    }
}


@media (min-width: 540px) {
    .planContainer {
        width: 540px;
    }
    .dynamic-width {
        width: 530px;
    }
}



.planRow {
    background-color: #ffdfe3;
    width: auto;
    margin-top: 1%;    
    padding-top: 10px;
    height: auto;
    padding-left: 10px;
}

#weekText{
    width: 540px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 50px;
    font-weight: bold;
}

#dayText{
    color: grey;
    text-align:start;
    font-size: 13px;
    padding-top: 25px;
    height: 30px;
}

.listItemName{
    padding-top: 5px;
    font-size: 18px;
    color: rgb(32, 32, 32);
}

.listItemTime{
    font-size: 15px;
    color: #1e1e1e;
    padding-right: 10px;
}


.editSesIcon{
    padding-right: 13px;
    padding-left: 20px;
    padding-bottom: 15px;
    color:#BE3B41;

}

.deletePlanModal{
    display: inline-block;
    top: 35%;
}

.editPlanModal{
    top:20%;
    display: block;
}

.planWorkout{
    border-radius: 5px;
    background: #ffdfe3;
    padding-left: 15px;
    font-weight: bold;
}

.addWorkoutPlan{
    margin-top: 7px;
    margin-left: 10px;
    color:#BE3B41;
    margin-right: 10px;

}

.formCheck{
    padding-bottom: 20px;
}

.trashCanIcon{
    padding-top: 7px;
    padding-right: 15px;
    color:#BE3B41;
}

#getWorkout{
    padding-top: 10px;
    padding-bottom: 40px;
}

#startTime{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

.addWorkoutButton{
    margin-right: 10px;
}

