.base-tag {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 0.75rem;
	padding: 0.4rem 0.75rem 0.4rem 0.75rem;
	background-color: var(--red-secondary);
}

.no-margin {
	margin: 0;
}

.suggest {
	background-color: var(--gray);
}

button:focus {
	outline-color: rgba(255, 0, 0, 0.1);
}