.outerButtonpanel {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.innerButtonpanel {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titleContainer {
    margin: 10px 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
