.popup-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
}



.popup {
    height: 95%;
    width: 90%;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 25px 2px 25px 25px;
    display: flex;
    flex-direction: column;
}   

.topbar {
    display: flex;
    flex-direction: column;
    align-items: start;
}

h1.title {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 0px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    gap: 16px;
    padding-right: 23px;
}

.closebutton {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: none;
	border: none;
    padding: 0;
    right: 14px;
    top: 13px;
    cursor: pointer;
}

.horizontal-line {
    border-bottom: 0.1px solid #8f8f8f;
    margin-top: 3px;
    margin-bottom: 16px;
    width: 82%;
}
