.sortingButtonContainer button {
    border: 1px solid gray;
    background: none;
    border-radius: 15%;
    padding: 0;
}

.sortingButtonContainer{
	display: flex;
}

.rotate{
    transform: scaleX(-1);
}
