.popup-wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.popup-tag-container {
    display: flex;
    gap: 1rem;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    max-width: 100%;
    flex-wrap: wrap;
}

.search-bar {
	display: flex;
	width: 100%;
	border: 2px solid var(--black-primary);
	border-radius: 0.3rem;
	min-height: 2rem;
	transition-duration: 200ms;
}

.input-area:focus {
	outline: 0;
}

.search-icon {
	height: 100%;
	width: 100%;
	padding-left: 1rem;
	font-size: 1.2rem;
}

.input-area {
	padding: 1rem;
	padding-right: 0.5rem;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
}

.error-message {
	color: red;
	text-align: left;
}

.addButton {
	cursor: pointer;
	padding-right: 0.6rem;
	height: 100%;
	width: 100%;
	font-size: 1.5rem;
}