.outerButtonpanel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.innerButtonpanel {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.font{
    font-size: xx-large;
}