body {
    font-family: Arial;
}

.kihonText {
	text-align: center;
    margin: 10px;
}

.selectedText {
    display: flex;
    
    margin: 10px 0px 0px 0px;
    padding-left: 10px;
}

.selectedGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
	padding: 10px;

}
.kihonGroup {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
	padding: 10px 0px 0px 0px;
}
