.technique-card {
	border: solid;
	border-width: 1px;
	border-radius: var(--border-radius);
	border-color: var(--black-primary);
	overflow: hidden;
	margin-top: 10px;
	display: flex;
}

.technique-card-belt-color-container {
	height: inherit;
	width: 3.45%;
	border-right: solid;
	border-width: 1px;
	border-color: var(--black-primary);

}

.technique-card-belt-color {
	width: 100%;
}


.technique-info-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.technique-checkbox-container {
	text-align: center;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.technique-checkbox-container .checkbox-container {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.technique-name-container {
	width: 100%;
}

.technique-name-container .technique-name {
	text-align: left;
	margin: 10px;
	font-size: 16px;
}

.technique-arrow-container {
	width: max-content;
	justify-content: flex-end;

}

.technique-arrow-container svg {
	width: 30px;
	height: 30px;
	margin: 10px;
	rotate: 270deg;
}


.countContainer p{
	margin: 0;
	font-size: 16px;
	padding: 15px;
}