.beltRow {
    border-top: solid 1px black;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    position: relative; /* Allow absolute positioning of children */
}

.beltRow:nth-child(even) {
    background-color: var(--red-secondary);
}

.beltRow:last-child {
    border-radius: 0 0 4px 4px;
}

.beltItem, .beltItemChild {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
}

.beltItem {
    margin-left: auto; /* Push to the right side */
}

.beltText {
    margin: 0;
    position: absolute; /* Position it absolutely within the beltRow */
    left: 50%; /* Move to the horizontal center */
    transform: translateX(-50%); /* Adjust to center it */
    text-align: center;
}

.err {
    color: var(--red-primary);
    margin: 5px 0 0 1rem;
    transition-duration: 200ms;
    height: 21px;
}