/**
 * This component is used to add users to comment on a workout. 
 * 
 * @author Cappriciosa (2022-05-16)
 */
 
.add-user-img
{
    width: 8%;
    height: 8%;
    cursor: pointer;
    border:  solid #BE3B41 3px;
    border-radius: 5px;
    box-shadow: 5px 5px #BE3B41; 
}