.draggable-list{
    width: 100%;
    position: relative;
    border: solid 1px #ced4da;
    border-radius: 2px;
    min-height: 58px;
}

.moveable-control-box{
    visibility: hidden;
}

.moveable-control.moveable-origin{
    transform: translateZ(0px) translate(0px, 0px) rotate(0rad) scale(1);
}

.list-element {
    position: absolute;
    width: 100%;
    border: none;
    background-color: white;

    z-index: 1;
    transition-duration: 0.2s;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-element[state|="isDragged-true"] {
    z-index: 2;
    background-color: #F8EBEC;
    transition: none !important;
}

.list-element[state|="snap"] {
    display: none;
    transition: none !important;
}

.list-element-drag-btn{
    width: 50px;

    margin-left: 0px;
    margin-top: 0px;
}

.list-element-drag-btn:hover{
    cursor: pointer;
}

.list-element-drag-btn > svg{
    width: 40px;
    height: 50px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: #B3B3B3;
}

.add-btn-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 20px;
}

.add-button{
    background-color: #BE3B41;
    border-radius: 0.3rem;
    margin-top: 5px;
    color: white;
}

.add-button:hover{
    background-color: #d74249;
}



