.review-area{
    margin-top: 2%;
    margin-bottom: 2%;
}

.review-btn{
    float: unset;
    margin-bottom: 10%;
}
.plus {
    fill: green;
}

.icon-plus {
    margin-top: 4%;
}

.minus{
    fill: red;
}

.prev{
    width: 100%;
}

.review-comment{
    word-wrap: break-word;
} 
.review-date{
    font-style: italic;
}

.delete-btn{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.edit.btn{
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}