/*
 * @author Team Capricciosa (Group 2)
 * @version 1.0
 */
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
a {
  color: #1e1e1e;
}
a:hover {
  color: #BE3B41;
  text-decoration: none;
}

.workout-name {
  word-wrap: break-word;
}

.override {
  all: unset;
}

.override:focus {
  all: unset;
}

.override-yellow {
  all: unset;
  color: goldenrod;
}

.override-yellow:focus {
  all: unset;
  color: goldenrod;
}

.workout-star {
  max-width: none;
  float: left;
  flex-grow:unset;
  width: fit-content;
  height: 100%;
}

.workout-text {
  height: 100%;
  width: calc(100% - 128px);
  flex: none;
  max-width: none;
}

.workout-arrow {
  float: right;
  width: fit-content;
  flex: none;
  height: 100%;
}

.textarea {
  height: auto;
  resize: none;
  overflow: hidden;
  background: none;
  border: none;
  outline: none;
}
