.beltIcon {
    border-radius: 100%;
    border: solid 1px black;
    height: 25px;
    width: 25px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.beltIconChild {
    border: solid 1px black;
    border-radius: 2px 2px 2px 2px;
    height: 5px;
    width: 110%;
}
