#search-area {
	margin-top: 10px;
}

#filter-favorites {
	max-width: 155px;
}

#searchbar-workouts {
	margin-bottom: 20px;
}

#workout-page-content svg.star {
	height: 2.5em;
}

#filter-container {
	margin-top: -10px;
	margin-left: -7.5px;
}

#workout-page-content .filter-row {
	padding-top: 10px;
}

#workout-page-content .activity-list {
	padding-top: 20px;
}

#workout-page-content .activity-list .row {
	margin-bottom: 20px;
}

@media (max-width: 540px) {
	#searchbar-workouts {
		width: auto;
	}
	#workout-page-content .activity-list {
		width: 100%;
	}
	.workout-item-row .workout-text {
		padding: 10px 5px;
	}
}

@media (min-width: 540px) {
	#searchbar-workouts {
		width: auto;
	}
	#workout-page-content .activity-list {
		min-width: 100%;
	}
}