/**
 * CSS for 'WorkoutCreate.js'
 *
 * @author Team kebabpizza (Group 8)
 * 
 */


.middleLine {
    border-top: solid 1px rgba(0, 0, 0, 0.200);
}


.margin1{
    margin-top: 1rem;
}

.marginAndBorder{
    border: solid rgba(0, 0, 0, 0.200) 1px;
    margin-top: 1rem;
    border-radius: 0.2rem;
}

.tagDesign{
    border: solid rgba(0, 0, 0, 0.200) 1px;
    margin-top: 0.5rem;
    background: white;
    overflow: hidden;
    border-radius: 0.2rem;
}

.textRight{
    float: right; 
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.textLeft{
    float: left; 
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}