.editable-container {
	width: 100%;
  }
  
  .editable-list-container{
	  border-radius: 5px;
	  border: 1px solid var(--black-primary);
	  user-select: none;
	  overflow: auto;
	  margin-top: 10px;
	  display: flex;
	  width: 100%;
  }
  
  .editable-list-header {
	  display: flex;
	  align-items: center;
	  text-align: center;
	  background-color: var(--red-secondary);
	  padding: 10px;
	  font-weight: 400;
	  width: 100%;
	  overflow:hidden;
	}
	
  .editable-list-header p { /* Duration */
  
	  margin: 0;
	  align-items: end;
	  font-weight: 600;
  
  }
	  
  .editable-list-duration {
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  
  .href-link {
	  margin: 0 0 0 10px;
  }
  
  .input {
	user-select: none;
	overflow: auto;
	display: flex;
	align-items: center; /* Align items vertically center */
	padding: 5px; /* Same padding */
	font-weight: 400;
	width: 100%;
	outline: none;
  }

  .errorInput {
	border: 2px solid var(--red-primary);
	background: var(--red-secondary);
  }
  
  .close-icon {
	cursor: pointer;
  }
  
  .name-container {
	display: flex;
	justify-content: space-between;
  }

  .textareaErr {
	border: 2px solid var(--red-primary);
	background: var(--red-secondary);
  }

  .textarea {
	width: 100%;
	height: 6rem;
	border: 2px solid var(--black-primary);
	border-radius: 0.3rem;
	padding: 1rem;
	resize: none;
  }
  