.listContainer {
    border-radius: 5px;
    border: 1px solid var(--black-primary);
    padding: 0;
    user-select: none;
}

.listCentered {
    justify-content: space-between;
}

.listHeader {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 18px;
    gap: 20px;
}

.listCentered > .listToggle {
    margin-left: unset !important;
}

.listHeader > p {
    margin: 0;
}

.listToggle {
    cursor: pointer;
    margin-left: auto;
    transition: all 0.2s ease-in;
}

.listText {
    font-size: large;
}

input,
.listText {
    width: 100%;
}

.listText::placeholder {
    text-align: center;
}

.listItem {
    cursor: pointer;
    margin-right: 14px;
    height: 32px;
}

.listRotate {
    rotate: 180deg;
}

.listChild {
    transition: all 0.2s ease-in-out;
}

.listItemContainer {
    overflow: hidden;
    min-height: 0;
}

.listLabel {
    width: 100%;
    text-align: left;
}

.listErr {
    color: var(--red-primary);
    margin: 5px 0 0 1rem;
    transition-duration: 200ms;
    height: 21px;
    }