.list-container {
    border-radius: 5px;
    border: 1px solid var(--black-primary);
    padding: 0;
    user-select: none;
}

.list-centered {
    justify-content: space-between;
}

.list-header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 18px;
    gap: 20px;
}

.list-centered > .list-toggle {
    margin-left: unset !important;
}

.list-header > p {
    margin: 0;
}

.list-toggle {
    cursor: pointer;
    margin-left: auto;
    transition: all 0.2s ease-in;
}

.list-text {
    font-size: large;
}

input,.list-text {
    width: 100%;
}

.list-text::placeholder {
    text-align: center;
}

.list-item {
    cursor: pointer;
    margin-right: 14px;
    height: 32px;
}

.list-rotate {
    rotate: 180deg;
}

.list-child {
    transition: all 0.2s ease-in-out;
}

.list-item-container {
    overflow: hidden;
    min-height: 0;
}

.list-label {
    width: 100%;
    text-align: left;
}

.list-err {
color: var(--red-primary);
margin: 5px 0 0 1rem;
transition-duration: 200ms;
height: 21px;
}