.buttonContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notificationCircle {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}