.pairbox{
  display:inline;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px;
}

.pairinfo{
    width: 17%;
    float:left;
}
.pair{
    width: 83%; 
    float:right;
}

.pairleft{
    float: left;
    width: 48%;
}

.pairright{
    float: right;
    width: 48%;
    
}