.mainCategoryTitle{
    text-align: center;
    font-size: 16px;
}

.categoryTitle{
    text-align: left;
    font-size: 12px;
}

.currentTechnique{
    text-align: left;
}

.nextTechnique{
    text-align: left;
    font-size: 12px;
}