.upload-media-container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.link-media-container {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.line {
    background : var(--black-primary);
    height: 1px;
}

.media-file-input {
    margin-bottom: 10px;
}

.uppload-file-btn-wrapper {
    width: 55%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
    /* cursor: pointer; */
}

.uppload-file-btn-wrapper input[type=file] {
    height: 100%;
    /* font-size: 80px; */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /* cursor: pointer; */
}

.upload-media-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upload-link-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.file-detail{
    margin-bottom: 0;
}