.td {
    font-size: smaller;
    padding: 10px;
    border: 1px solid #ccc;
    font-style:Arial;
    font-stretch: expanded;

  }
  
  .th {
    font-size: medium;
    font-style: Arial;
    font-weight: bold;
    color: #FFFFFF;
    background: #BE3B41;

  }
  
  .errorlog-table {
    display: block;
    overflow-x: auto;
    font-size: medium;
    border-collapse: collapse;
    width: 105%;
    
  }

  .datepicker-wrapper { 
    z-index: 1000;
    font-size: x-large;
    
}

.error-title {
    font-size: xx-large;
    margin-top: -30px; 
    margin-bottom: 10px;
}
