.error-state-container, .error-state-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.error-state-icon-container {
    width: 13rem;
    height: 13rem;
    background-color: var(--red-secondary);
    margin: 2rem;
    border-radius: 200rem;
}
.error-state-button-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}