.search-bar {
	margin: 10px 0;
}

.py-1 .plus-icon {
	width: 50px;
	height: 50px;
	color: white;
}

.technique-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 0;
}

.techniqueCard-container {
	width: 92%;
}
