/*
 * @author Team Capricciosa (Group 2), Team Kebabpizza (Group 8)
 * @version 1.0
 */
.btn-home{
    width: 300px;
    height: 100px;
    border-radius: 15px;
    border-bottom: solid 1px black;
    font-size: x-large;
    text-align: center;
    padding-top: 30px;
}
