.exercise-list-container{
    border-radius: 5px;
    border: 1px solid var(--black-primary);
    user-select: none;
    overflow: auto;
    margin-bottom: 0.4rem;
    margin-left: -15px;
    margin-right: -15px;
}

.exercise-list-header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--red-secondary);
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0rem;
    font-weight: 400;
    overflow:hidden;

  }
  
.exercise-list-header p { /* Duration */

    margin: 0;
    align-items: end;
    font-weight: 600;

}


.exercise-list-toggle {
    cursor: pointer;
    margin-left: auto;
    transition: all 0.2s ease-in;
}
.exercise-list-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 14px;
    height: auto;
  }
    
.exercise-list-duration {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-list-child { /*Description */
    border-top: 1px solid var(--black-primary);
    padding: 1rem;
    word-wrap: break-word;
    overflow: auto;
}

.exercise-list-rotate {
    rotate: 180deg;
}
