.exercise-list-container{
    border-radius: 5px;
    border: 1px solid var(--black-primary);
    user-select: none;
    overflow: auto;
    margin-top: 0.4rem;
}

.exercise-list-header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--red-secondary);
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    font-weight: 400;
    overflow:hidden;
  }
  
.exercise-list-header p { /* Duration */

    margin: 0;
    align-items: end;
    font-weight: 600;

}
    
.exercise-list-duration {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
