.filterPos {
    width: 100%;
}

@media  (max-width: 500px) {
    fieldset{
        width: 100%;
    }
}

@media (min-width: 500px) {
    fieldset{
        width: 500px;
    }
}

.buttonGroup {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 10px;
}


legend{
    background: #FFFFFF none repeat scroll 0 0;
    display: inline-block;
    width: auto;
    padding: 0px 7px 0px 7px ;
    margin: auto;
    text-align: left;
}

