.technique-detail-container {
    text-align: left;
}

.technique-detail-actions-container {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}
.technique-detail-tag-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
.technique-detail-button-container {
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 50px;
}
.technique-detail-belts-container {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}
.technique-detail-center-spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Applied only on screen sizes > 700px */
@media screen and (min-width: 700px) {
    .technique-detail-container {
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
    }
}