.player-wrapper {
    width: auto;
    height: 300px;
    /* height: auto; */
    margin-bottom: 30px;
}

.react-player {
    /* padding-top: 56.25%; */
    position: relative;
}

.react-player > div {
    position: absolute;
}

.react-player > video {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: -5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.carousel .control-dots .dot {
    color: black;
    /* background: rgb(235, 0, 0); */
    
    background: #BE3B41;
    width: 16px;
    height: 16px;
    opacity: 0.2;
    box-shadow: none;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    opacity: .8;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;

}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    height: 20%;
}

.carousel .control-prev.control-arrow::before {
    border-right: 8px solid black;
    color: black;
    opacity: 1;
}

.carousel .control-next.control-arrow::before {
    border-left: 8px solid black;
    color: black;
    opacity: 1;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

.w-25 {
    width: 70%!important;
    padding-top: 15%;
    padding-bottom: 15%;
}