.techniqueEditCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

h1.techniqueEditTitle {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 0px;    
}

.techniqueEditHorizontalLine {
    border-bottom: 0.1px solid #8f8f8f;
    margin-top: 3px;
    margin-bottom: 16px;
    width: 100%;
}

.mediaNameContainer {
    display: flex;
    width: 100%;
}

.trashIcon {
    margin-left: auto;
}

.techniqueDetailCenterSpinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediaButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
