.minute-picker {
    width: 5rem;
}

.minute-input {
    border-width: 0;
    width: 50%;
    text-align: center;
    background-color: var(--red-secondary);
}
.min-text {
    padding-left: 0.5rem;
}

.min-text p {
    margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
    padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}