.minute-picker {
    width: 5rem;
    height: 2rem;
}

.minute-input {
    border-width: 0;
    width: 50%;
    text-align: center;
    background-color: var(--red-secondary);
}
.min-text {
    padding-left: 0.5rem;
}