.divider {
    margin: 20px 0 20px 0;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.divider_center {
    text-align: center;
}

.divider_left {
    text-align: left;
}


.divider_middle {
    display: flex;
    justify-content: center;
}

.divider_middle > * {
    margin-bottom: -12px;
    background-color: white;
    padding: 5px 16px 5px 16px;
    width: fit-content;
}
