.dividerCenter {
    margin: 5px 0 10px 0;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}

.dividerLeft {
    margin: 5px 0 10px 0;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
}

.dividerMiddle {
    margin: 5px 0 10px 0;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px 16px 5px 16px;
    width: fit-content;
}
