.divider {
    margin: 5px 0 10px 0;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
}

.dividerCenter {
    text-align: center;
}

.dividerLeft {
    text-align: left;
}

.dividerMiddle {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5px 16px 5px 16px;
}

.dividerMiddle :global(h2) {
    padding: 0 10px 0 10px;
    background-color: white;
    margin-bottom: -13px;
}