    .btn-add-activity {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size:xx-large;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-activity > * {
    font-size: 3rem;
    filter: brightness(0) invert(1);
    padding: 0;
}