.common-navbar {
    display: flex;
    padding-bottom: 1rem;
    height: 64px;
    border-bottom: 3px solid var(--black-primary);
    justify-content: space-between;
}
.common-navbar-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    top: 0;
    left: -70vw;
    width: 70vw;
    max-width: 400px;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0,.93,.31,.98)
}
.common-navbar-icon {
    cursor: pointer;
}
.open {
    left: 0;
}
.budo-logo {
    height: 100%;
}
/* Applied only on screen sizes > 700px */
@media screen and (min-width: 700px) {
    .common-navbar-sidebar {
        left: -400px;
        width: 400px;
    }
    .open {
        left: 0;
    }
  }
  