
.sc23-session-container {
    user-select: none;
	margin-bottom: 3%;
}

.sc23-outline {
	border: 2px solid var(--black-primary);
	border-radius: 4px;
    padding: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	outline-color: #201E1F;
}

/* Header */
.sc23-session-container-header {
    background-color: aqua;
	display: flex;
	flex-direction: column;
	border: 0;
}

.sc23-session-container-header-passed {
	display: flex;
	flex-direction: column;
	border: 0;
	background-color: #c9eec3 ;
}

.sc23-session-container-header-failed {
	display: flex;
	flex-direction: column;
	border: 0;
	background-color: #f8ebec  ;
}

.sc23-session-header-clickable {
	min-height: 30px;
	cursor: pointer;
	grid-template-columns: repeat(5, 1fr);
}

#sc23-session-container-beltbox {
	grid-column: 1 / 6;
	grid-row: 1 / 2;
}

#sc23-dropdown {
	grid-column: 5 / 6;
	grid-row: 1 / 2;
	place-self: center;
	color: white;
}

.sc23-chevron-rotate {
    rotate: 180deg;
}

.sc23-session-container-chevron-rotation-animation {
    margin-left: auto;
    transition: all 0.2s ease-in;
}

.sc23-session-container-header-overlap {
	position: relative;
	float: right;
	margin-inline-end: 7%;
}

/* Content */
.sc23-session-container-content {
	overflow: hidden;
    min-height: 0;
}

.sc23-session-container-child {
    transition: all 0.2s ease-in-out;
}

#error-session-header {
	margin: 0;
}

.techniqueName{
	text-align: left;
	font-size: 16px;
}

.commentStyle{
	text-align: left;
	font-size: 13px;
}

.commentStyle2{
	text-align: left;
	font-size: 13px;
    color:rgb(170, 170, 170);
}