
.sc23-session-container {
    user-select: none;
	margin-bottom: 3%;
	/*padding: 10px;*/
}

.sc23-outline {
	border: px solid var(--black-primary);
	border-radius: 4px;

	overflow: hidden;
	outline-color: #201E1F;
	margin-bottom: 10px;
}

.sc23-outline-sub {
	border: 2px solid var(--black-primary);
	border-radius: 4px;

	overflow: hidden;
	outline-color: #201E1F;
}

/* Header */
.sc23-session-container-header {
    background-color: rgb(0, 238, 238);
	display: flex;
	flex-direction: column;
	border: 0;
	
}

.sc23-session-container-header-passed {
	
	display: flex;
	flex-direction: column;
	border: 0;
	background-color: #c9eec3 ;
	
}

.sc23-session-container-header-failed {
	display: flex;
	flex-direction: column;
	border: 0;
	background-color: #f8ebec  ;
	
}

.sc23-session-header-clickable {
	min-height: 30px;
	cursor: pointer;
	grid-template-columns: repeat(5, 1fr);
	position:relative;
}

#sc23-session-container-beltbox {
	grid-column: 1 / 6;
	grid-row: 1 / 2;
}

#sc23-dropdown {
	grid-column: 5 / 6;
	grid-row: 1 / 2;
	place-self: center;
	color: white;
	
}

.sc23-chevron-rotate {
    rotate: 180deg;
}

.sc23-session-container-chevron-rotation-animation {
    margin-left: auto;
    transition: all 0.2s ease-in;
}

.sc23-session-container-header-overlap {
	position: relative;
	float: right;
	margin-inline-end: 7%;
}

/* Content */
.sc23-session-container-content {
	overflow: hidden;
    min-height: 0;
	
}

.sc23-session-container-child {
    transition: all 0.2s ease-in-out;
	
}

#error-session-header {
	margin: 0;
}

.techniqueName{
	text-align: left;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.commentStyle{
	text-align: left;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
}

.commentStyle2{
	text-align: left;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
    color:rgb(170, 170, 170);
}

.scrollableContainer {
    max-height: 75vh; 
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* For Firefox */
    scrollbar-width: none;

    /* For Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.topContainer {
    max-height: 25vh;
}

.listToggle {
    cursor: pointer;
    margin-left: auto;
    margin-right: 7px;
    transition: all 0.2s ease-in;
}

.listRotate {
    rotate: 180deg;
}

.showAllCheckbox {
	justify-self: center;
	align-self: center;
	margin-left: 200px;
}

.buttonContainer {
	padding-top: 10px;
}
.container {
    display: flex;
    flex-direction: column;
}

.outerCircle{
	position: absolute;
	top:2px;
	right:2px;
	height: 1rem;
	width: 1rem;
	background-color: #FFFFFF;
	border-radius: 50%;
}

.innerCircle{
	position: relative;
	top: 1px;
	left: 1px;
	height: 0.9rem;
	width: 0.9rem;
	background-color: #BD3B41;
	border-radius: 50%;
	text-align: center;
	justify-content: center;
}

.counterText{
	color: white;
	position: relative;
	font-size: 10px;
}