.role-list-container{
    border-radius: 5px;
    border: 1px solid var(--black-primary);
    user-select: none;
    overflow: auto;
    margin-top: 10px;
    display: flex;
}

.role-list-header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--red-secondary);
	padding: 10px;
    font-weight: 400;
    width: 100%;
    overflow:hidden;
}

