.editable-container {
    z-index: 0;
    position: relative;
    border-radius: 10px;
}

.editable-list-container {
    user-select: none;
    overflow: auto;
    margin-top: 10px;
    display: flex;
    width: 100%;
    z-index: 1; /* Set higher than editable-container */
    position: relative;
}

.editable-list-header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    z-index: 2; /* Set higher than editable-list-container */
    position: relative;
}

.editable-list-header p {
    margin: 0;
    align-items: end;
    font-weight: 600;
    z-index: 2; /* Set higher than editable-list-container */
    position: relative;
}

.editable-list-duration {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; /* Set higher than editable-list-container */
    position: relative;
}

.href-link {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; /* Set higher to ensure text is visible */
    position: relative; /* Position must be set for z-index to work */
}

.input {
    user-select: none;
    overflow: auto;
    display: flex;
    align-items: center; /* Align items vertically center */
    text-align:center;
    font-weight: 400;
    width: 100%;
    outline: none;
    border: none;
    z-index: 3; /* Set higher to ensure input is visible */
    position: relative;
}

.noText {
  font-style: italic;
  font-weight: 200;
}

.errorInput {
    border: 2px solid var(--red-primary);
    background: var(--red-secondary);
}

.close-icon {
    cursor: pointer;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.textareaErr {
    border: 2px solid var(--red-primary);
    background: var(--red-secondary);
}

.textarea {
    width: 100%;
    height: 6rem;
    border: 2px solid var(--black-primary);
    border-radius: 0.3rem;
    padding: 1rem;
    resize: none;
}
