.checkbox-label {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    position: relative;
}
.checkbox-label-disabled {
    color: var(--gray);
}
.checkbox-icon {
    position: absolute;
    color: white;
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
}
.checkbox-component input[type=checkbox] {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-component input[type=checkbox]:checked {
    background-color: var(--checkbox-press);
}
.checkbox-component input[type=checkbox]:disabled {
    border: 2px solid var(--gray);
    background-color: var(--background);
}
