.check {
    color: var(--checkbox-press);
    position: relative;
    border: 1.5px solid black;
    border-radius: 4px;
}

.square {
    color: var(--background);
    position: relative;
    border: 1.5px solid black;
    border-radius: 6px;
}

.check,
.square {
    width: 100%;
    height: 100%;
}

.checkbox-container {
    width: 32px;
    height: 32px;
}