.beltRow {
    border-top: solid 1px black;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3px 10px 3px 10px;
}

.beltRow:nth-child(even) {
    background-color: var(--red-secondary);
}

.beltRow:last-child {
    border-radius: 0 0 4px 4px;
}

.beltItem {
    display: flex;
    gap: 20px;
    align-items: center;
}

.beltText {
    margin-top: 0;
    margin-bottom: 0;
}