.commonNavbar {
    position:sticky;
    top: 0; 
    display: flex;
    padding-bottom: 1rem;
    padding: 1.5rem;
    height: 90px;
    border-bottom: 3px solid var(--black-primary);
    justify-content: space-between;
    z-index: 10;
    background-color: var(--background);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    align-items: center;
}
.commonNavbarSidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 3;
    top: 0;
    left: -70vw;
    width: 70vw;
    max-width: 400px;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0,.93,.31,.98);
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btnWrapper > button {
    cursor: pointer;
}

.commonNavbarIcon {
    cursor: pointer;
    font-size: 52px;
    z-index: 1;
}
.commonNavbarUserIcon {
    cursor: pointer;
    font-size: 48px;
    z-index: 1;
}

.commonNavbarIconAdmin{
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 36px;
    margin: 8px;
    z-index: 1;
}

/* Selects a button (yoteibutton) which contains the admin icon and pushes it to the bottom using margin-top: auto; */
button:has(.commonNavbarIconAdmin){
    display: inline-block !important;
    aspect-ratio: 1;
    margin-top: auto;
}



.open {
    left: 0;
}
.budoLogo {
    height: 150%;
}
.boxShadowBackground {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0vw;
    z-index: 2;
    display: flex;
    backdrop-filter: blur(1px);
    transition: background-color 0.2s ease-in-out;
}
.boxShadowBackgroundOpen {
    width: 100vw; 
    background-color: rgba(0,0,0,0.3);
}
.boxShadowBackgroundClosed {
    transition: width 0s ease-in-out 0.1s, background-color 0.1s ease-in-out;
    background-color: rgba(0,0,0,0);
}
.commonNavbarButton {
    font-weight: 500;
    font-size: 32px; 
}
.hide {
    overflow-y: hidden;
}
.show {
    overflow-y: scroll;
}
/* Applied only on screen sizes > 700px */
@media screen and (min-width: 700px) {
    .commonNavbarSidebar {
        left: -400px;
        width: 400px;
    }
    .open {
        left: 0;
    }
}

.commonNavbar .closeAndUserIconsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: right;
    align-items: center;
    justify-content: space-between;
}

.closeAndUserIconsWrapper > button {
    width: auto !important;
}

.commonNavbar .closeIconWrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: right;
    font-size: 48px;
    cursor: pointer;
}

.commonNavbar .closeAndUserIconsWrapper .commonNavbarUserIcon {
    padding-right: 0px;
    width: 80%;
}