.name-col:hover>* {
    color: #BE3B41;
}

/*
* Column that contains the created by text
*/
.created-col {
    font-size: 0.8rem;
    color: #544949;
    text-align: left;
    font-style: oblique;
}


.textDesc {
    text-align: left;
    color: #1e1e1e;
}

.activity-list {
    padding-top: 20px;
}

.toggleIcon{
    padding-top: 5px;
    color:#BE3B41;
}


.col>a>h5{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.workout-name{
    margin-bottom: 0;
    margin-top: 0;
}

.selectWorkout{
    padding-top: 12px;
}

