.desc-form-ex-page{
    display: flex;
    padding-top: 10px;
    align-self: center;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
}

.title-header {
    flex: fit-content;
    flex-direction: row;
    align-items: center;

}

.header-form{
    font-size: x-large;
    text-align: center;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.tags{
    display: flex;
    align-self: center;
    width: 70%;
    max-width: 400px;

}

.svg-container-ex-details {
    width: 1.5em;
    height: 1.5em;
}

.ex-page-header {
    padding-right: 15px;
}

.svg-container:hover > * {
    width: 1.7em;
    height: 1.7em;
}

.btn-done-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BE3B41;
    color: #fff;
    align-self: center;
}

.trashcan{
    margin-bottom: 4px;
    margin-left: 10px;
}

.trashcan:hover {
    cursor: pointer;
}

.deleteModal{
    display: inline-block;
    top: 35%;
}
