/**
 * css file for Nav.js
 *
 * @author Kebabpizza (Grupp 8), Team Quattro Formaggi (Group 1)
 */
.log-info {
  font-size: 10px;
  position:absolute;
  top: 0px;
  right: 0px;
  padding-right: 10px;
  
} 
.log-info-user{
  font-size: 15px;
}
#logo {
  width: auto;
  height: 100%;
  padding-top: 5%; 
}

#plan-link {
  margin-left: auto;
  height: 70%;
}

#nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px;
  border-bottom: solid 2px black;
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
  background-color: #ffffff;
  z-index: 100;
}

#nav-space {
  height: 10vh;
  min-height: 100px;
  max-height: 200px;
}

.menu {
  position: absolute;
  background-color: #BE3B41;
  z-index: 10;
  top: clamp(100px, 10vh, 150px);
  left: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 1px black;
  border-top: none;
  height: 100vh;
}

#menuButton:focus {
  box-shadow: none;
}

#menuButton {
  z-index: 1000;
}

.menu-item {
border-bottom: solid 1px black;
font-size: x-large;
min-width: 280px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d74249;
  color: azure;
  font-weight:500;
  text-decoration: none;
}
