/* The complete component */
.sc23_beltbox {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}


/* Each belt */
.sc23_beltbox_belt {
	height: 100%;
	flex: 1;
    float: left;
	justify-content: center;
}

.sc23_beltbox_belt_child {
	position: relative;
	height: 50%;
	top: 25%;
}


.sc23_beltbox_belt_error {
	height: 100%;
	flex: 1;
	color: black;
	background-color: white;
	float: left;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sc23_beltbox_belt_dan {
	height: 10%;
	width: 100%;
	background-color: #FFDD33;
}


.sc23_beltbox_belt_dan1 {
	display: flex;
	flex-direction: column;
}

.sc23_beltbox_belt_dan2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}


.sc23_beltbox_belt_dan3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}