.gp23_groupRow{
    display: flex;
    
    padding-inline: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-width: 1px;

    align-items: center;
}


.gp23_GroupRow_check_box{
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-right: 0;
    margin-left: auto;
    width: 15%;
}

.gp23_groupRow_belt_color{
    display: flex;
    gap: 7px;
    width: 35%;
    overflow: hidden;
}

.gp23_GroupRow_text{
    float:left;
    text-align: left;
    margin-inline: 10px;
    line-height: 1;
    margin-bottom: 0;
    width:50%;
    overflow: hidden;
    line-height: normal;
    text-overflow: ellipsis;
}
