.wrap-centering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.p-date {
    display: table-row;
}

.p-date-name {
    display: table-cell;
    text-justify: auto;
    vertical-align: middle;
}

.p-date-picker {
    float: right;
    padding: 20px;
}

.start-end-date {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.name-input-form {
    width: 100%;
    height: 50 px;
    font-size: 13;
}

.div-week-day-time {
    align-items: center;
}

.plan-form {
    align-self: center;
}